*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

button{
    width: 200px;
    height: 45px;
    border: 1px solid;
    border-radius: 25px;
    background-color: #fff;
}

h1, h2, h3{
    width: 70%;
    line-height: 1.5;
    font-family: 'Poppins',
    sans-serif;
    font-weight: 600;
}

img{
    width: 100%;
}

.ads-box{
    height: 250px;
    width: 908px;
    margin: 0px auto 0px;
    background-color: white;
    box-shadow: 3px 3px 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    z-index: 9;
}

.ads-box > h2{
    margin: 20px 0;
}

.box-data > button{
    margin: 30px 30px;
    width: 50%;
    height: 5vh;
    /* background-color: hsl(192, 100%, 9%); */
    background-color: hsl(322, 100%, 66%);
    color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    /* padding: 10px 30px 10px 30px; */
    border-radius: 20px;
}

.ads-pic{
    width: 70%;
    float: right;
}

.box-data{
    position: relative;
    left: 200px;
    top: 45px;
}

.container-fluid{
    padding:  3% 12% 7%;
    height: auto;
}
.container{
    margin: 30px auto;
    padding: 7% 0% 7%;
    height: auto;
}

.community{
    margin-top: 20px;
}

.community > p{
    margin: 20px 0;
    line-height: 1.5;
    font-weight: bold;
}

.community > button{
    margin: 20px 0;
    color: white;
    background-color: hsl(322, 100%, 66%);
    width: 250px;
}

.first-layer{
    margin: 50px auto 0 auto;
}

.grow, .flow, .users{
    margin-top: 50px;
}

.grow, .users, .two{
    margin-left: 70px;
}

.three{
    margin-right: 70px;
}

.grow > p{
    width: 100%;
}

.two{
    float: left;
}
.flow{
    margin-right: 50px;
}

.flow > h3{
    width: 80%;
}

.flow > p{
    width: 100%;
}

.users > p{
    width: 110%;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.second-layer, .third-layer, .fourth-layer{
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    margin-bottom: 100px;
}

#title{
    background: url('/images/bg-hero-desktop.svg')  hsl(193, 100%, 96%) no-repeat ;
}

            /* FOOTER */

#footer {
    background-color: hsl(216, 53%, 9%);
    margin: 0;
    padding: 400px auto 150px;
    z-index: -1;
}

.logo-info {
    margin-right: 20px;

}

.logo-info>p {
    margin-left: 30px;
    line-height: 1.7;
}

.logo-info>img {
    margin: auto auto 40px;

}

.mobile>a {
    color: hsl(0, 0%, 100%);
    position: relative;
    left: 8px;
}

.email>a {
    color: hsl(0, 0%, 100%);
    position: relative;
    bottom: 20px;
    left: 35px;

}

.email {
    width: 28px;
    position: relative;
    top: 60px;
    right: 125px;
}

.logo-ads {
    position: relative;
    right: 35px
}

.about-ads {
    position: relative;
    left: 65px;
}

.terms {
    position: relative;
    left: 30px;
}

img.location {
    position: relative;
    bottom: 79px;
}

.social-media {
    position: relative;
    left: 40px;
}

.social>a.fab.fa-facebook-f,
.social>a.fab.fa-twitter,
.social>a.fab.fa-instagram {
    font-size: 24px;
    height: 38px;
    line-height: 40px;
    margin: 5px;
    text-align: center;
    width: 38px;
    border: 1px solid hsl(0, 0%, 100%);
    color: hsl(0, 0%, 100%);
    border-radius: 100%;
}

.footer-ads {
    padding: 200px 12px 22px 12px;
}


