*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

button{
    width: 200px;
    height: 45px;
    border: 1px solid;
    border-radius: 25px;
    background-color: #fff;
}

h1, h2, h3{
    width: 70%;
    line-height: 1.5;
    font-family: 'Poppins',
    sans-serif;
    font-weight: 600;
}

img{
    width: 100%;
}

.ads-box{
    height: 234px;
    width: 908px;
    margin: 0px auto 0px;
    background-color: white;
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    z-index: 9;
}

.ads-pic{
    width: 70%;
    float: right;
}

.container-fluid{
    padding:  3% 12% 7%;
    height: auto;
}
.container{
    margin: 30px auto;
    padding: 7% 0% 7%;
    height: auto;
}

.community{
    margin-top: 20px;
}

.community > p{
    margin: 20px 0;
    line-height: 1.5;
    font-weight: bold;
}

.community > button{
    margin: 20px 0;
    color: white;
    background-color: hsl(322, 100%, 66%);
    width: 250px;
}

.first-layer{
    margin: 50px auto 0 auto;
}

.grow, .flow, .users{
    margin-top: 50px;
}

.grow, .users, .two{
    margin-left: 70px;
}

.three{
    margin-right: 70px;
}

.grow > p{
    width: 100%;
}

.two{
    float: left;
}
.flow{
    margin-right: 50px;
}

.flow > h3{
    width: 80%;
}

.flow > p{
    width: 100%;
}

.users > p{
    width: 110%;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.second-layer, .third-layer, .fourth-layer{
    box-shadow: 2px 2px 2px 3px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
    margin-bottom: 100px;
}

#title{
    background: url('/images/bg-hero-desktop.svg')  hsl(193, 100%, 96%) no-repeat ;
}


